@import url('https://fonts.googleapis.com/css?family=Roboto');

.rcw-widget-container {
    font-family: 'Roboto', sans-serif;
}

.rcw-conversation-container > .rcw-header {
    /*background-color: red; */
}

input[type="text"].rcw-new-message {
    font-size: 11px;
    width: 100%;
    border: 0;
    background-color: #f4f7f9;
    height: 30px;
    padding-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.rcw-full-screen .rcw-conversation-container {
    margin-bottom: 130px;
}

.rcw-message > .rcw-response {
    background-color: blue;
    color: white;

}

.rcw-send {
    padding: inherit;
}

@media screen and (min-width: 1000px) {
    .rcw-full-screen.rcw-opened {
        height: 100%;
        width: 30%;
    }
}

.rwre-toggle-button {
    margin: 25px;
    right: 0;
    bottom: 0;
    position: absolute;
    /*max-width: 100px;*/
    /*border-radius: 75px;*/
}
